.container {
  width: 600px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
}

label, input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

#blog-delete {
  display: none;
}

#blog-list {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

li h3 {
  margin: 0;
}

li p {
  margin-top: 5px;
}

li button {
  margin-top: 5px;
}
